/* Main CSS doc
 * By Andrew Reid East */
body {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  background-color: white;
  color: black;
  font-size: 18px; }

h1, h2, h3, h4 {
  font-family: "Playfair Display SC", serif; }

.container-background {
  position: absolute;
  left: 0;
  width: 100%; }

#headerImage, #headerBaseImage, #headerBaseImageFade {
  height: calc(100vh + 12vh);
  background-repeat: no-repeat;
  background-position: bottom center; }
  @media (min-width: 1049px) {
    #headerImage, #headerBaseImage, #headerBaseImageFade {
      background-size: cover; } }
  @media (max-width: 1048px) {
    #headerImage, #headerBaseImage, #headerBaseImageFade {
      background-size: 1200px; } }

#headerImage {
  z-index: -30;
  background-image: url("../img/center02_top.jpg"); }
  @media (max-width: 480px) {
    #headerImage {
      background-image: url("../img/center01_mobile.jpg");
      background-size: cover; } }

#headerBaseImage {
  z-index: -10;
  background-image: url("../img/center02_base3.png"); }

#headerBaseImageFade {
  background-image: url("../img/center02_base_fade3.png");
  z-index: -10; }

#containerRootsImage {
  top: 100vh;
  height: 200vh; }

#rootsImage, #rootsImageSoil {
  height: 200vh; }

#rootsImageSoil {
  z-index: -19;
  background-color: #2A1704; }

#rootsImage {
  z-index: -20;
  background-image: url("../img/rootsCentered.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30%; }
  @media (max-width: 600px) {
    #rootsImage {
      background-size: 50%; } }
  @media (max-width: 480px) {
    #rootsImage {
      background-size: 70%; } }
  @media (max-width: 320px) {
    #rootsImage {
      background-size: 100%; } }

#containerTitle {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: calc(100vh / 2);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

#title h1 {
  color: white;
  text-align: center;
  font-size: 9em;
  line-height: 1.1;
  margin-top: 0; }

#about {
  position: absolute;
  top: 100vh;
  margin-top: 100px; }

.text-box {
  padding: 40px; }
