/* Main CSS doc
   By Andrew Reid East
*/
/* NOTE: Will need to use "Autoprefixer" */
body {
  background-image: url(../img/16024807396_de7acfd592_k.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* From Bootstrap Jumbotron: */
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
  padding-bottom: 20px; }

.brand {
  font-family: "Indie Flower", cursive; }

.pageTitle {
  font-family: "Source Code Pro", monospace; }

#header {
  height: 27em; }

#header::after {
  /* https://css-tricks.com/snippets/css/transparent-background-images/ */
  content: "blargburgrlbargggg";
  background-color: white;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 10; }

#logoNavbar {
  font-size: 50px; }

.logoContainer {
  font-family: "Indie Flower", cursive;
  position: relative;
  line-height: 0.66; }

.logoContainer div {
  position: absolute; }

.logoR {
  top: 0.1em;
  left: 0; }

.logoE {
  top: 0.35em;
  left: 0.45em; }

.navbar-brand {
  padding-top: 0; }

.navbar-brand img {
  height: 50px;
  width: 50px; }

.button-img {
  height: 1.3em;
  width: 1.3em;
  display: inline-block; }

#fcc-logo {
  height: 1.3em;
  width: 1.8em; }

svg {
  fill: currentColor;
  vertical-align: bottom; }

.socialUL {
  margin-left: 0;
  /* setting li under this to inline-block adds margin-left/right: -15px. I do not know what part of Bootstrap is causing that */
  margin-right: 0; }

.socialUL li {
  display: inline-block; }

.socialLinks {
  font-size: 20px; }

.socialLinks svg {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 20%; }

.socialLinks img {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 20%;
  -webkit-filter: grayscale(1) contrast(0.8);
          filter: grayscale(1) contrast(0.8); }

#portfolio img {
  width: 100%; }

#contactButtonsContainer {
  margin: 20px; }

#contactFormContainer {
  width: 80%; }
