/* Main CSS doc
 * By Andrew Reid East */
body {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  background-color: white;
  color: black;
  font-size: 18px; }

h1, h2, h3, h4 {
  font-family: "Playfair Display SC", serif; }

.verticalCenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.section {
  background-size: cover; }

#sectionSeedling {
  background-image: url("../img/headerBGsplit_top.jpg");
  background-position-x: center; }

#sectionRoots {
  background-position-x: center;
  background-position-y: -20px;
  background-repeat: no-repeat;
  z-index: -30; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

#rootsOverlay {
  background-color: #2A1704;
  z-index: 50; }

#rootsSoil {
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../img/headerBGsplit_base_fade.png");
  z-index: -20; }

#containerTitle {
  z-index: 10;
  width: 100%;
  height: 100%; }

#containerTitle h1 {
  color: white;
  text-align: center;
  font-size: 9em;
  font-weight: normal;
  line-height: 1.1;
  margin-top: 0; }

#introText {
  z-index: 10;
  height: 100%;
  width: 100%; }

#sectionRoots {
  background-size: auto 768px; }

.introSVG {
  position: absolute; }

.introTextBox {
  position: absolute;
  width: 300px; }

#intro1 {
  bottom: calc(100% - 768px + 622px);
  left: calc(50% + 187px); }

#rootIntro1 {
  width: 122.4px;
  bottom: calc(100% - 768px + 585px);
  left: calc(50% + 81px); }

#intro2 {
  top: 300px;
  right: calc(50% + 156px); }

#rootIntro2 {
  width: 76.8px;
  top: 212px;
  right: calc(50% + 113px); }

#intro3 {
  top: 489px;
  left: calc(50% + 205px); }

#rootIntro3 {
  width: 108.8px;
  top: 439px;
  left: calc(50% + 93px); }

#rootsWireframe {
  width: 150px;
  height: 100%;
  top: 0px;
  left: calc(50% - 100px); }

footer {
  position: relative; }
