/* Main CSS doc
 * By Andrew Reid East */

$headerBGmobile: "../img/headerBG_mobile.jpg";
$headerBGfull: "../img/headerBG.jpg";

$headerBGTop: "../img/headerBG_top.jpg";
$headerBGBase: "../img/headerBG_base.png";
$headerBGBaseFade: "../img/headerBG_base_fade.png";
$rootsBG: "../img/rootsCentered.svg";

$fontSans: sans-serif;
$fontSerif: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
$fontTitle: "Playfair Display SC", serif;
$fontBody: $fontSerif;

$colorDarkSoil: #2A1704;
$colorTanSoil: #F9D690; // #F9D690 == HSL (chrome dev tools: 40, 90%, 77%), original: #EBBD8A http://www.colorhexa.com/f9d690
// $colorTanSoilText: #565656;
// $colorText: $colorTanSoilText;
$colorText: black;
$colorBG: white;
$headerHeight: 100vh;
// $headerBaseHeight: 144px;
// $headerBaseHeight: 10.84vh; // calculated from ratios
$headerBaseHeight: 12vh;

// $colorLightGreen: #92A270;
// $colorLightGreenBrighter: #9BB95B;
// $colorWhiteGreen: #A9DA88;
// $fontMonospace: "Source Code Pro", monospace;

body {
  font-family: $fontBody;
  // background-color: $colorTanSoil;
  background-color: $colorBG;
  color: $colorText;
  font-size: 18px;
}
h1, h2, h3, h4 {
  font-family: $fontTitle;
}

//*************************************** Header Images ***************************************
.container-background {
  position: absolute; // TODO: convert bg images, etc. to relative position within fullpage.js' <section> elements
  left: 0;
  width: 100%;
}
// #containerHeaderImage {
//   height: calc(#{$headerHeight} + #{$headerBaseHeight});
// }
#headerImageFull, #headerImage, #headerBaseImage, #headerBaseImageFade {
  // TODO: 50px area faded out reveals nav bar?

  height: calc(#{$headerHeight} + #{$headerBaseHeight});
  background-repeat: no-repeat;
  background-position: bottom center;


  @media (min-width: 1201px) {
    background-size: cover;
  }
  @media (max-width: 1200px) {
    background-size: 1200px;
  }
}
#headerImageFull {
  z-index: -5;
  background-image: url($headerBGfull);
}
#headerImage {
  z-index: -30;
  background-image: url($headerBGTop);
  // @media (max-width: 480px) {
  //   background-image: url($headerBGmobile);
  //   background-size: cover;
  // }
}
#headerBaseImage {
  display: none;
  z-index: -10;
  background-image: url($headerBGBase);
  // top: -1px; // TODO: fix seam between images. is this an artifact of the photo editing? (note: shows in FF and Ch)
}
#headerBaseImageFade {
  background-image: url($headerBGBaseFade);
  // top: -1px; // TODO: fix seam between images. is this an artifact of the photo editing? (note: shows in FF and Ch)
  z-index: -10;
}

#containerRootsImage {
  top: $headerHeight;
  height: $headerHeight * 2; // TODO: set actual height
}
#rootsImage, #rootsImageSoil {
  height: $headerHeight * 2;
}
#rootsImageSoil {
  display: none;
  z-index: -19;
  background-color: $colorDarkSoil;
}
#rootsImage {
  z-index: -20;
  background-image: url($rootsBG); //TODO: move $bgUnderground to it's own element to simplify bg-position
  background-repeat: no-repeat;
  background-position: top center;

  background-size: 600px;
  // @media (max-width: 600px) {
  //   background-size: 50%;
  // }
  // @media (max-width: 480px) {
  //   background-size: 70%;
  // }
  // @media (max-width: 320px) {
  //   background-size: 100%;
  // }

  background-color: initial;
  @media (max-aspect-ratio: 4 / 3) {
    background-color: red;
  }
  @media (max-aspect-ratio: 4 / 3) {
    background-color: initial;
  }

}

//*************************************** Page Title ***************************************
#containerTitle{
  position: absolute;
  z-index: 10;
  width: 100%;
  top: calc(#{$headerHeight} / 2);
  transform: translateY(-50%);
}
#title h1 {
  // font-family: Vollkorn;
  color: white;
  text-align: center;
  font-size: 9em;
  //TODO: media query for ultra-high-res to increse font-size by em
  line-height: 1.1;
  margin-top: 0;
}

//*************************************** Main Content ***************************************
#about {
  position: absolute;
  top: $headerHeight;
  margin-top: 100px;
}

.text-box {
  padding: 40px;
}

// .button-img {
// 	height: 1.3em;
//   width: 1.3em;
// 	display: inline-block;
// }

// svg {
//   fill: currentColor;
//}

footer {
  position: absolute;
}