/* Main CSS doc
 * By Andrew Reid East */


$headerBGwide: "../img/center01_wide.jpg";
$headerBGNoCrop: "../img/center01_full.jpg";
$headerBGmobile: "../img/center01_mobile.jpg";
$rootsBG: "../img/rootsCentered.svg";
$fontSans: sans-serif;
$fontSerif: Georgia, 'Times New Roman', Times, serif;
$fontBody: $fontSans;

$colorTanSoil: #F9D690; // #F9D690 == HSL (chrome dev tools: 40, 90%, 77%), original: #EBBD8A http://www.colorhexa.com/f9d690
$colorTanSoilText: #565656;
$colorText: $colorTanSoilText;
$headerHeight: 100vh;

// $colorLightGreen: #92A270;
// $colorLightGreenBrighter: #9BB95B;
// $fontMonospace: "Source Code Pro", monospace;

// $colorWhiteGreen: #A9DA88;

// @import 'adamcgpro';

//TESTING:
#containerContent {
  display: none;
}

body {
  font-family: $fontBody;
  // background-color: $colorTanSoil;
  background-color: white;
  color: $colorText;
}

//*************************************** Header Images ***************************************
#containerHeaderImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
}
#headerImage {
  position: relative;
  height: $headerHeight;
  background-repeat: no-repeat;
  background-position: bottom center;
  
  // box-shadow: inset 0 -16px 16px -10px $colorBrown, 
  //             0 16px 16px -10px $colorBrown;
  
  // background-size: cover;
  // background-image: url($headerBGwide);
  
  background-image: url($headerBGNoCrop);
  @media (min-width: 1049px) {
    background-size: cover;
  }
  @media (max-width: 1048px) {
    background-size: 1200px;
  }
  @media (max-width: 480px) {
    background-image: url($headerBGmobile);
    background-size: cover;
  }
}

#containerRootsImage {
  // box-shadow: 0 -16px 16px -10px $colorBrown;
  position: absolute;
  top: calc(#{$headerHeight} - 50px);
  left: 0;
  height: $headerHeight;
  // height: 580px;
  width: 100%;
  z-index: -20;
}
#rootsImage {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  background-repeat: no-repeat;
  background-position: top center;

  background-image: url($rootsBG); //TODO: move $bgUnderground to it's own element to simplify bg-position
  background-size: 30%;
  @media (max-width: 600px) {
    background-size: 50%;
  }
  @media (max-width: 480px) {
    background-size: 70%;
  }
  @media (max-width: 320px) {
    background-size: 100%;
  }
}

//*************************************** Page Title ***************************************
#containerTitle{
  position: absolute;
  top: calc(#{$headerHeight} / 2);
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
}
#title {
  h1 {
    // font-family: Vollkorn;
    font-family: "Playfair Display SC";
    color: white;
    text-align: center;
    font-size: 9em;
    line-height: 1.1;
    margin-top: 0;
  }
}

//*************************************** Main Content ***************************************
#containerContent {
  position: relative;
  top: $headerHeight;
  margin-top: 10px;
}
#intro {
  // background-color: $colorLightGreen;
  border-radius: 8px;
}

// .button-img {
// 	height: 1.3em;
//   width: 1.3em;
// 	display: inline-block;
// }
// svg {
//   fill: currentColor;
//}